default_stages:
  - pre-push
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
        args: [--markdown-linebreak-ext=md]
        exclude: CHANGELOG.md

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua
        stages: [pre-commit]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: 'global/.config/tmux/plugins/.*|global/.config/bash/autocomplete.d/fzf-bash-completion.sh'
        stages: [pre-commit]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        exclude: 'global/.config/tmux/plugins/.*|global/.config/bash/autocomplete.d/fzf-bash-completion.sh'
        stages: [pre-commit]
