###############################################################################
### file: base.config

background-opacity = 0.95
background-blur = 10

link-url = true

scrollback-limit = 100000000

shell-integration = detect
shell-integration-features = cursor,sudo,title

theme = "light:Catppuccin Latte,dark:Catppuccin Mocha"

# clipboard protection
clipboard-read = ask
clipboard-write = allow
clipboard-paste-protection = true
copy-on-select = true

# prevent title query attacks
title-report = false
